---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";
import type { PostCollectionEntry } from "types";

const posts = await getCollection("posts") as PostCollectionEntry[];
const tils = await getCollection("til") as PostCollectionEntry[];
const allPosts = posts.concat(tils);

let tags = getUniqueTags(allPosts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul class="font-mono">
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
