---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Tag from "@components/Tag.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getSortedEntries from "@utils/getSortedEntries";
import getUniqueTags from "@utils/getUniqueTags";

const allEntries = await getSortedEntries();

let tags = getUniqueTags(allEntries);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul class="font-mono">
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
