---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>Content under CC-BY-SA-4.0 license</span>
    </div>
    <div>
      <a href="https://coindrop.to/mathpn" target="_blank">Support me</a>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  footer a {
    @apply !decoration-dashed underline underline-offset-4 hover:text-skin-accent;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
